<h1>New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="year">year</label><br />
    <input id="year" name="year" type="text" />
  </div>
  <div>
    <label for="rating">rating</label><br />
    <input id="rating" name="rating" type="text" />
  </div>
  <div>
    <label for="runtime">runtime</label><br />
    <input id="runtime" name="runtime" type="text" />
  </div>
  <div>
    <label for="synopsis">synopsis</label><br />
    <input id="synopsis" name="synopsis" type="text" />
  </div>
  <div>
    <label for="poster">poster</label><br />
    <input id="poster" name="poster" type="text" />
  </div>
  <div>
    <label for="critics_rating">critics rating</label><br />
    <input id="critics_rating" name="critics_rating" type="text" />
  </div>
  <div>
    <label for="critics_score">critics score</label><br />
    <input id="critics_score" name="critics_score" type="text" />
  </div>
  <div>
    <label for="audience_rating">audience rating</label><br />
    <input id="audience_rating" name="audience_rating" type="text" />
  </div>
  <div>
    <label for="audience_score">audience score</label><br />
    <input id="audience_score" name="audience_score" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

