<h1>New Movie</h1>

<form action="/create_movie">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="releasedate">releasedate</label><br />
    <input id="releasedate" name="releasedate" type="text" />
  </div>
  <div>
    <label for="rating">rating</label><br />
    <input id="rating" name="rating" type="text" />
  </div>
  <div>
    <label for="runtime">runtime</label><br />
    <input id="runtime" name="runtime" type="text" />
  </div>
  <div>
    <label for="genre">genre</label><br />
    <input id="genre" name="genre" type="text" />
  </div>
  <div>
    <label for="director">director</label><br />
    <input id="director" name="director" type="text" />
  </div>
  <div>
    <label for="writer">writer</label><br />
    <input id="writer" name="writer" type="text" />
  </div>
  <div>
    <label for="actors">actors</label><br />
    <input id="actors" name="actors" type="text" />
  </div>
  <div>
    <label for="plot">plot</label><br />
    <input id="plot" name="plot" type="text" />
  </div>
  <div>
    <label for="language">language</label><br />
    <input id="language" name="language" type="text" />
  </div>
  <div>
    <label for="country">country</label><br />
    <input id="country" name="country" type="text" />
  </div>
  <div>
    <label for="awards">awards</label><br />
    <input id="awards" name="awards" type="text" />
  </div>
  <div>
    <label for="poster">poster</label><br />
    <input id="poster" name="poster" type="text" />
  </div>
  <div>
    <label for="metascore">metascore</label><br />
    <input id="metascore" name="metascore" type="text" />
  </div>
  <div>
    <label for="imdbrating">imdbrating</label><br />
    <input id="imdbrating" name="imdbrating" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

