<header><div class="first">
  <%= image_tag 'logo.jpg',   alt: 'logo', title: "haveiseen.it", width: '300px' %>
  <h1>Ever forgotten which movies or TV shows you've seen?</h1>
  <h1>Yeah. We thought so. That's where <a class="haveiseenit" href="#">haveiseen.it</a> comes in.</h1>
  <h2><a class="haveiseenit" href="#">haveiseen.it</a> helps you keep track of, well, every movie you've seen.</h2>
  <h2><a class="haveiseenit" href="#">haveiseen.it</a> was made to answer one question: "Have I seen it?"</h2></div></header>

<header><div class="second" class="first" >
  <h1><a class="haveiseenit" href="#">haveiseen.it</a>: to make your life easier.</h1>
  <h2>Simply create an account, and start logging the movies you see. <br>If your friends use <a class="haveiseenit" href="#">haveiseen.it</a>, simply add them and view all the movies and TV shows they've seen. <br>Write and read reviews with maximum ease. <br><a class="haveiseenit" href="#">haveiseen.it</a> was built with simplicity in mind.</h2></div></header>
  
